@{
    ViewData["Title"] = "Tutoring Services";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-6 text-center">
            <h1>@ViewData["Title"] Calculator</h1>
            <br/><br/>
            <p class="text-uppercase text-start">
                I'm a competitve and colorfully vocab'ed gamer. I also dabble in coaching.
                Fill out this form to see what my services would cost a shmuck like yourself.
            </p>
            <br/><br/>
            <form class="text-end">
                <label>Hourly Rate: $</label>
                <input id="costHrs" type="number" value="50" readonly/>
                <br/>
                <label>Hours of Padawan Training</label>
                <input id="numHrs" type="number" min="0" oninput="validateInput(this)"/>
                <br/>
                <button id="btnCalc" type="button">Calculate Cost</button>
            </form>
        </div>
        <div class="col-md-6 text-center">
            <img src="../img/me_r6_meme.png" alt="Myself photoshopped onto the infamous R6 character - Warden" style="height: 40%">
        </div>
    </div>
</div>